.bug {
  background-color: #3bb900;
}

.dark {
  background-color: #1c1c1c;
}

.dragon {
  background-color: #00458a;
}

.electric {
  background-color: #ffe600;
}

.fairy {
  background-color: #ffc2f9;
}

.fighting {
  background-color: #e40000;
}

.fire {
  background-color: #ff9900;
}

.flying {
  background-color: #ccdadd;
}

.ghost {
  background-color: #5a1e64;
}

.grass {
  background-color: #57921c;
}

.ground {
  background-color: #965a00;
}

.ice {
  background-color: #6ad2ff;
}

.normal {
  background-color: #b3b3b3;
}

.plant {
  background-color: #70df00;
}

.poison {
  background-color: #ab00ae;
}

.psychic {
  background-color: #ff81f2;
}

.rock {
  background-color: #e1b237;
}

.shadow {
  background-color: #050370;
}

.steel {
  background-color: #2a4950;
}

.unknown {
  background-color: #555555;
}

.water {
  background-color: #00a0e4;
}

article.pokemondetails {
  border-radius: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  img.detailblick {
    width: 80%;
    margin-bottom: 40px;
  }

  h1.detailüberschrift {
    color: yellow;
    font-family: "robo";
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 40px;
    text-shadow: -1px -1px 8px blue, 1px -1px 8px blue, -1px 1px 8px blue,
      1px 1px 8px blue;
  }
}
.h2-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  h2.idk {
    color: #fff;
    text-align: right;
    font-family: "robo";
    font-weight: 900;
    font-size: 2rem;
  }
}
button {
  color: #fff;

  padding: 12px 24px;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 8px 8px 8px 8px;
  border: none;
  font-weight: 600;
  display: inline;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

article.pokemondetails {
  max-width: 1000px;
}

.stats {
  display: block;
}

.flex {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    color: #fff;
    font-family: "robo";
    font-weight: 900;
    font-size: 1.7rem;
  }
}

.flex2 {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;

  padding: 40px 10vw;
  background-color: #ffffff74;
  border-radius: 16px;
  width: 100%;
  p {
    color: #3c5aa6;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "robo";
    font-weight: 900;
    font-size: 1.2rem;
  }
}

.flex3 {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border-radius: 16px;
  width: 100%;
}
