.typefilter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 900;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #ffcb05;
  }

  div {
    text-align: center;
    padding: 0 40px;
    max-width: 1200px;

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    button {
      color: #fff;

      padding: 12px 24px;
      border-radius: 8px;
      text-transform: uppercase;
      margin: 8px 8px 8px 8px;
      border: none;
      font-weight: 600;
      display: inline;
      cursor: pointer;
      transition: transform 0.2s ease-out;
    }

    button:hover {
      transform: scale(1.03);
      border-radius: 8px;
      text-transform: uppercase;
      display: inline;
      cursor: pointer;
      box-shadow: 0px 2px 4px #0056eba0;
    }
  }

  .bug {
    background-color: #3bb900;
  }

  .dark {
    background-color: #1c1c1c;
  }

  .dragon {
    background-color: #00458a;
  }

  .electric {
    background-color: #ffe600;
  }

  .fairy {
    background-color: #ffc2f9;
  }

  .fighting {
    background-color: #e40000;
  }

  .fire {
    background-color: #ff9900;
  }

  .flying {
    background-color: #ccdadd;
  }

  .ghost {
    background-color: #5a1e64;
  }

  .grass {
    background-color: #57921c;
  }

  .ground {
    background-color: #965a00;
  }

  .ice {
    background-color: #6ad2ff;
  }

  .normal {
    background-color: #b3b3b3;
  }

  .plant {
    background-color: #70df00;
  }

  .poison {
    background-color: #ab00ae;
  }

  .psychic {
    background-color: #ff81f2;
  }

  .rock {
    background-color: #e1b237;
  }

  .shadow {
    background-color: #050370;
  }

  .steel {
    background-color: #2a4950;
  }

  .unknown {
    background-color: #555555;
  }

  .water {
    background-color: #00a0e4;
  }

  .searchbutton {
    margin-top: 24px;
    background-color: #ffcb05;
    border: solid 4px #2a75bb;
    color: #3c5aa6;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 900;
    padding: 12px 40px;
    border-radius: 8px;
    display: inline;
    font-size: 1rem;
    cursor: pointer;
  }
  .resetbutton {
    margin-top: 24px;
    // background-color: #ffcb05;
    border: solid 4px #2a75bb;
    color: #3c5aa6;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 900;
    padding: 12px 40px;
    border-radius: 8px;
    display: inline;
    font-size: 1rem;
    cursor: pointer;
  }
  .resetbutton:hover {
    transform: none;

    box-shadow: 0px 0px 0px #0056eba0;
  }
}

@media screen and (max-width: 600px) {
  .typefilter-wrapper {
    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      button {
        padding: 16px;
      }
    }
  }
}
